<div class="grid-container">
    <mat-grid-list cols="1" rowHeight="700px">
      <mat-grid-tile *ngFor="let card of cards | async" >
          <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>About Me</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                 

                  <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Akbar Abustang</mat-card-title>
                        <mat-card-subtitle>Web Programmer</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="../assets/abba.jpg" alt="Photo of a Shiba Inu">
                     
                  </mat-card>

                  <p>
                      Hard-working web developer with a flair for creating elegant solutions 
                      in the least amount of time. Passionate and love sharing about Web programming. 
                      Always eager to learn more tricks from anyone.
                  </p>
                  
              </mat-card-content>
             
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  