<div class="grid-container">
    <mat-grid-list cols="1" rowHeight="700px">
      <mat-grid-tile *ngFor="let card of cards | async" >
          <mat-card class="dashboard-card">
              <mat-card-header>
                <mat-card-title>Dashboard</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>
                    Hi There ! What's up
                </p>
              </mat-card-content>
             
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  